@model Footeo.Web.ViewModels.Users.RegisterInputModel

@{
    ViewData["Title"] = "Register";
}

<div class="w-50 mx-auto">
    <h2 class="text-center">@this.ViewData["Title"]</h2>
    <hr />
    <form class="mx-auto half-width" method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-50">
                <div class="d-flex justify-content-center">
                    <label class="font-weight-bold" asp-for="Username"></label>
                </div>
                <input asp-for="Username" class="form-control" placeholder="adskidolen">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <div class="d-flex justify-content-center">
                    <label class="font-weight-bold" asp-for="Email"></label>
                </div>
                <input asp-for="Email" class="form-control" placeholder="adskidolen@@mail.bg">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-50">
                <div class="d-flex justify-content-center">
                    <label class="font-weight-bold" asp-for="Password"></label>
                </div>
                <input asp-for="Password" class="form-control" placeholder="Password...">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <div class="d-flex justify-content-center">
                    <label class="font-weight-bold" asp-for="ConfirmPassword"></label>
                </div>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password...">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <hr class="hr-2 bg-eventures" />
        <div class="d-flex justify-content-between">
            <div class="form-group w-50">
                <div class="d-flex justify-content-center">
                    <label class="font-weight-bold" asp-for="FirstName"></label>
                </div>
                <input asp-for="FirstName" class="form-control" placeholder="Alexander">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <div class="d-flex justify-content-center">
                    <label class="font-weight-bold" asp-for="LastName"></label>
                </div>
                <input asp-for="LastName" class="form-control" placeholder="Paunski">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-50">
                <div class="d-flex justify-content-center">
                    <label class="font-weight-bold" asp-for="Age"></label>
                </div>
                <input asp-for="Age" class="form-control" placeholder="22">
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group w-50">
                <div class="d-flex justify-content-center">
                    <label class="font-weight-bold" asp-for="Town"></label>
                </div>
                <input asp-for="Town" class="form-control" placeholder="Sofia">
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-group w-50">
                <label class="font-weight-bold">Choose your role in the FootEO:</label>
                @{ var roles = new string[] { "Player", "Referee" }; }
                @foreach (var role in roles)
                {
                    <div class="d-flex justify-content-center">
                        <label class="radio-inline" asp-for="Role"><input asp-for="Role" type="radio" value="@role" />@role</label>
                    </div>
                }
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn">Register</button>
        </div>
    </form>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
