@model Footeo.Web.ViewModels.Leagues.Input.LeagueCreateInputModel

@{
    ViewData["Title"] = "Create League";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>
<hr />
<div class="w-50 mx-auto">
    <form asp-area="Admin" asp-controller="Leagues" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Premier League" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" placeholder="The Premier League is a private company..." />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Town" class="control-label"></label>
            <input asp-for="Town" class="form-control" placeholder="Sofia" />
            <span asp-validation-for="Town" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>

<div>
    <a asp-area="" asp-controller="Leagues" asp-action="All">Back to Leagues</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
