@model Footeo.Web.ViewModels.Players.AllPlayersViewModel

@{
    ViewData["Title"] = "All Players";
}

<h2>@this.ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Team Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.TeamName</td>
            </tr>
        }
    </tbody>
</table>
