@model Footeo.Web.ViewModels.Fixtures.Output.AllFixturesViewModel

@{
    ViewData["Title"] = "Fixtures";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>
<div class="mx-auto w-50">
    <table class="table-hover table table-striped">
        <tr>
            <th>Info</th>
            <th>Details</th>
        </tr>
        @foreach (var fixture in Model.Fixtures)
        {
            <tr>
                <td>@fixture.Info</td>
                <td><a asp-controller="Fixtures" asp-action="Details" asp-route-id="@fixture.Id">View</a></td>
            </tr>
        }
    </table>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>