@model Footeo.Web.Areas.Admin.ViewModels.Matches.Input.CreateMatchInputModel

@{
    ViewData["Title"] = "Create Match";

    var homeTeams = this.ViewData[GlobalConstants.HomeTeamsViewDataName] as IEnumerable<SelectListItem>;
    var awayTeams = this.ViewData[GlobalConstants.AwayTeamsViewDataName] as IEnumerable<SelectListItem>;
    var fields = this.ViewData[GlobalConstants.FieldsViewDataName] as IEnumerable<SelectListItem>;
    var fixtures = this.ViewData[GlobalConstants.FixturesViewDataName] as IEnumerable<SelectListItem>;
}

<div style="width:50%" class="d-flex justify-content-center align-items-center container">
    <h2 class="text-center" style="color:#00a78e">@this.ViewData["Title"]</h2>
    <hr class="hr-2" />
    <form asp-area="Admin" asp-controller="Matches" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <div style="color:#00a78e" class="text-center">
                <label asp-for="HomeTeamId" class="control-label">Home Team</label>
            </div>
            <select asp-for="HomeTeamId" asp-items="homeTeams" class="form-control">
                <option selected="selected" disabled="disabled">Choose Home Team</option>
            </select>
            <span asp-validation-for="HomeTeamId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div style="color:#00a78e" class="text-center">
                <label asp-for="AwayTeamId" class="control-label">Away Team</label>
            </div>
            <select asp-for="AwayTeamId" asp-items="awayTeams" class="form-control">
                <option selected="selected" disabled="disabled">Choose Away Team</option>
            </select>
            <span asp-validation-for="AwayTeamId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div style="color:#00a78e" class="text-center">
                <label asp-for="FieldId" class="control-label">Field</label>
            </div>
            <select asp-for="FieldId" asp-items="fields" class="form-control">
                <option selected="selected" disabled="disabled">Choose Field</option>
            </select>
            <span asp-validation-for="FieldId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div style="color:#00a78e" class="text-center">
                <label asp-for="FixtureId" class="control-label">Fixture</label>
            </div>
            <select asp-for="FixtureId" asp-items="fixtures" class="form-control">
                <option selected="selected" disabled="disabled">Choose Fixture</option>
            </select>
            <span asp-validation-for="FixtureId" class="text-danger"></span>
        </div>

        <hr class="hr-2" />

        <div class="text-center">
            <div class="form-group">
                <input type="submit" value="Create"style="background-color:#00a78e" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
