@using Footeo.Services.Contracts

@model Footeo.Web.Areas.Admin.ViewModels.Leagues.Output.AllLeaguesViewModel

@inject ITeamLeaguesService TeamLeaguesService
@{
    ViewData["Title"] = "Completed Leagues";
}

<div class="container">
    <h2 class="text-center" style="color:#00a78e">@this.ViewData["Title"]</h2>
    <hr class="hr-2" />
    <div class="row" style="color:#8d9293; font-size:30px">
        @foreach (var league in Model.Leagues)
        {
            <div style="color:#00a78e" class="col-lg-6">@league.Name</div>
            <div class="col-lg-6">
                @if (!this.TeamLeaguesService.HasTeamAlreadyCurrentTrophy(league.Id))
                {
                    <a style="background-color:#00a78e" class="btn btn-primary" asp-area="Admin" asp-controller="Trophies" asp-action="GenerateWinner" asp-route-id="@league.Id">Generate</a>
                }
                else
                {
                    <span>Winner has been genereted</span>
                }
            </div>
        }
    </div>
</div>