<li>
    <a asp-area="Admin" asp-controller="Leagues" asp-action="Create">League</a>
</li>
<li>
    <a asp-area="Admin" asp-controller="Fixtures" asp-action="Create">Fixture</a>
</li>
<li>
    <a asp-area="" asp-controller="Leagues" asp-action="InProgress">Match</a>
</li>
<li>
    <a asp-area="Admin" asp-controller="Trophies" asp-action="TrophiesForLeagues">Generate Trophy</a>
</li>
<li>
    <a asp-area="Admin" asp-controller="Fields" asp-action="Add">Field</a>
</li>