<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <meta charset="utf-8" />
    <title>Footeo a Sports Category Flat Bootstrap responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Forward Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- js -->
    <script src="~/js/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="header-top">
            <!-- container -->
            <div class="container">
                <div class="header-top-left">
                    <partial name="_LoginPartial" />
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- //container -->
        </div>
        <div class="header-middle">
            <!-- container -->
            <div class="container">
                <div class="header-middle-logo">
                    <a asp-controller="Home" asp-action="Index">Footeo - Your Football Event Organizer</a>
                </div>
            </div>
            <!-- //container -->
        </div>
        <div class="top-nav">
            <!-- container -->
            <div class="container">
                <span class="menu">MENU</span>

                <ul class="nav1">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Leagues <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color:#1CD5B5" role="menu">
                            <li>
                                <a asp-controller="Leagues" asp-action="Pending">Pending</a>
                            </li>
                            <li>
                                <a asp-controller="Leagues" asp-action="InProgress">In Progress</a>
                            </li>
                            <li>
                                <a asp-controller="Leagues" asp-action="Completed">Completed</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Teams" asp-action="All">Teams</a>
                    <li>
                    <li>
                        <a href="matches.html">Matches</a>
                    <li>
                    <li>
                        <a asp-controller="Referees" asp-action="All">Referees</a>
                    <li>
                    <li>
                        <a asp-controller="Fields" asp-action="All">Fields</a>
                    <li>
                </ul>
            </div>

            <!-- //container -->
        </div>
        <div class="blue"> </div>
    </div>
    @RenderBody()
    <!-- footer -->
    <div class="footer">
        <!-- container -->
        <div class="container">
            <div class="footer-top">
                <div class="footer-grids">
                    <div class="col-md-3 f-address">
                        <h5>Address</h5>
                        <ul>
                            <li>Sofia, Bulgaria</li>
                            <li>kv. Lozenets</li>
                            <li>Telephone: +359 884 695 169</li>
                            <li>E-mail : <a href="mailto:adskidolen@gmail.com">adskidolen@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 f-address f-contact">
                        <h5>Stay in Touch</h5>
                        <form>
                            <input type="text" placeholder="Email address" required="">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                    <div class="col-md-3 footer-logo">
                        <a asp-controller="Home" asp-action="Index">Footeo</a>
                        <div class="footer-left">
                            <ul>
                                <li><a class="facebook" href="https://www.facebook.com/paunski777777"></a></li>
                                <li><a class="linked-in" href="https://www.linkedin.com/in/alexander-paunski-02189516b/"></a></li>
                                <li><a class="you-tube" href="https://www.youtube.com/"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-bottom">
                    <div class="copyright">
                        <p>© @DateTime.UtcNow.Year - Footeo. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //footer -->
    @section Scripts
        {
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        <!-- start-smoth-scrolling -->

        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                        containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>

        <!-- script-for-menu -->
        <script>
            $("span.menu").click(function () {
                $("ul.nav1").slideToggle(300, function () {
                    // Animation complete.
                });
            });

        </script>
        <!-- /script-for-menu -->
    }
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- content-Get-in-touch -->

    @RenderSection("Scripts", required: false)
</body>
</html>