@using Microsoft.AspNetCore.Identity
@using Footeo.Models;

@inject SignInManager<FooteoUser> SignInManager
@inject UserManager<FooteoUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav">
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Leagues
                        </button>
                        <div class="dropdown-menu" aria-label="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Leagues" asp-action="All"> All Leagues</a>
                            <a class="dropdown-item" asp-controller="Leagues" asp-action="Create">Create League</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Teams
                        </button>
                        <div class="dropdown-menu" aria-label="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Teams" asp-action="All">All Teams</a>
                            <a class="dropdown-item" asp-controller="Teams" asp-action="Create">Create Team</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fields
                        </button>
                        <div class="dropdown-menu" aria-label="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Fields" asp-action="All">All Fields</a>
                            <a class="dropdown-item" asp-controller="Fields" asp-action="Add">Add Field</a>
                        </div>
                    </div>
                </li>

            }
            else
            {
                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Leagues
                        </button>
                        <div class="dropdown-menu" aria-label="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Leagues" asp-action="All">All Leagues</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Teams
                        </button>
                        <div class="dropdown-menu" aria-label="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Teams" asp-action="All">All Teams</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fields
                        </button>
                        <div class="dropdown-menu" aria-label="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Fields" asp-action="All">All Fields</a>
                        </div>
                    </div>
                </li>
            }
            <li class="nav-item active">
                <a class="nav-link font-weight-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item active">
                <button type="submit" class="btn btn-link navbar-btn nav-link font-weight-bold">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav right">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Register</a>
        </li>
    </ul>
}