@using Microsoft.AspNetCore.Identity
@using Footeo.Models;

@inject SignInManager<FooteoUser> SignInManager
@inject UserManager<FooteoUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <ul class="nav navbar-nav navbar-left">
            <li><a asp-controller="Leagues" asp-action="Create">Create League</a></li>
            <li><a asp-controller="Teams" asp-action="Create">Create Team</a></li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-left">
            <li><a asp-controller="Teams" asp-action="Create">Create Team</a></li>
        </ul>
    }
    <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Account" asp-action="Manage" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}