@using Microsoft.AspNetCore.Identity
@using Footeo.Models;

@inject SignInManager<FooteoUser> SignInManager
@inject UserManager<FooteoUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav">
            @if (User.IsInRole(GlobalConstants.AdminRoleName))
            {
                <partial name="_AdminNavbarPartial" />
            }
            else
            {
                <partial name="_UsersNavbarPartial" />
            }
            <li class="nav-item active">
                <a class="nav-link font-weight-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item active">
                <button type="submit" class="btn btn-link navbar-btn nav-link font-weight-bold">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav right">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    </ul>
}