<li>
    <a asp-area="Player" asp-controller="Teams" asp-action="Create" class="btn btn-dark">Create Team</a>
</li>
<li>
    <a asp-controller="Teams" asp-action="All" class="btn btn-dark">Join Team</a>
</li>