<li class="nav-item active">
    <div class="dropdown">
        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Leagues
        </button>
        <div class="dropdown-menu" aria-label="dropdownMenuButton">
            <a class="dropdown-item" asp-area="" asp-controller="Leagues" asp-action="Pending">Pending Leagues</a>
            <a class="dropdown-item" asp-area="" asp-controller="Leagues" asp-action="InProgress">In Progress Leagues</a>
            <a class="dropdown-item" asp-area="" asp-controller="Leagues" asp-action="Completed">Completed Leagues</a>
        </div>
    </div>
</li>

<li class="nav-item active">
    <div class="dropdown">
        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Teams
        </button>
        <div class="dropdown-menu" aria-label="dropdownMenuButton">
            <a class="dropdown-item" asp-area="" asp-controller="Teams" asp-action="All">All Teams</a>
        </div>
    </div>
</li>

<li class="nav-item active">
    <div class="dropdown">
        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fields
        </button>
        <div class="dropdown-menu" aria-label="dropdownMenuButton">
            <a class="dropdown-item" asp-area="" asp-controller="Fields" asp-action="All">All Fields</a>
        </div>
    </div>
</li>

<li class="nav-item active">
    <div class="dropdown">
        <button class="btn nav-link bg-dark dropdown-toggle font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Referees
        </button>
        <div class="dropdown-menu" aria-label="dropdownMenuButton">
            <a class="dropdown-item" asp-area="" asp-controller="Referees" asp-action="All">All Referees</a>
        </div>
    </div>
</li>