@model Footeo.Web.ViewModels.Teams.View.TeamDetailsViewModel

@{
    ViewData["Title"] = "Team Details";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>

<div class="mx-auto w-50">
    <table class="table-hover table table-striped">
        <tr>
            <th>Players</th>
        </tr>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>@player.Nickname</td>
            </tr>
        }
    </table>
</div>