@model Footeo.Web.ViewModels.Teams.Output.TeamPlayersViewModel

@{
    ViewData["Title"] = "Team Players";
}

<div class="container">
    <h2 class="text-center" style="color:#00a78e">@this.ViewData["Title"]</h2>
    <hr class="hr-2" />
    <div class="table-responsive-lg">
        <table class="table-hover table">
            <tbody>
                <tr class="active">
                    <th>Player</th>
                    <th></th>
                </tr>
                @foreach (var player in Model.Players)
                {
                    <tr>
                        <td>@player.ShowPlayerName</td>
                        <td><a style="background-color:#00a78e" class="btn btn-primary" asp-controller="Players" asp-action="Details" asp-route-id="@player.Id">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
